.menu-page {
    background-image: url('../Assets/ImagenChica.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    font-family: Oswald;
    font-size: large;
    color:white ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
  }
  .nav-col{
    padding: 0;
    margin: 0;
    width: 100vh;
  }
  .footer{
    padding: 0;
    margin: 0;
    width: 100vh;
    height: 100px;
    background-color: rgba(112, 112, 112, 0.493);
    margin-top: auto;
   }
   footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   }
   .box{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 30px;
   }